{% extends "base.html" %}

{% block title %}信息管理{% endblock %}

{% block navbar %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
        {% if params.is_add == '1' %}<h1 style="float:left">新增</h1>{% else %}<h1 style="float:left">编辑</h1>{% endif %}
        <div style="margin-left: 4em;margin-top: 0.2em;">(<span style="color: red;">*</span> 为必填信息)</div>

    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">信息管理</li>
        <li class="active">编辑</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <ul id="info_list" class="nav nav-pills nav-justified">

        <li class="active"><a href="#baseinfo" data-toggle="tab">基本信息</a></li>
        <li><a href="#bankcard" data-toggle="tab">银行卡信息</a></li>
        <!--
        <li><a href="#workexp" data-toggle="tab">工作经历</a></li>
        <li><a href="#family" data-toggle="tab">亲属信息</a></li>
        <li><a href="#education" data-toggle="tab">教育经历</a></li>
        -->

    </ul>

    <form id='info_form' name='info_form' onsubmit="return false">
        <div id="myTabContent" class="tab-content main">
            <!-- 基本信息 -->
            <div class="tab-pane fade in active" id="baseinfo">
                <div class='row info_main_tab'>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em;'><span class='info_red'>* </span>中文姓名 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='china_name' type="text" name='china_name' maxlength='20' class="info_input"
                                   value='{{ params.em_profile.china_name or '' }}'
                                   required='required' placeholder='身份证姓名'
                            />
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em;'>英文姓名 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='english_name' type="text" name='english_name' maxlength='20' class="info_input"
                                   value='{{ params.em_profile.english_name or '' }}'
                            />
                        </span>
                    </div>
                </div>
                <div class='row info_main_tab'>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em;'><span class='info_red'>* </span>电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='phone' type="text" name='phone' maxlength='20' class="info_input"
                                   value='{{ params.em_profile.phone or '' }}' oninput="value=value.replace(/[^\d]/g,'')"
                                   required='required'
                            />
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em;'>邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='email' type="email" name='email' maxlength='20' class="info_input"
                                   value='{{ params.em_profile.email or '' }}'
                            />
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>入职日期 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='entry_date' type="date" required="required"
                                   class="info_input" name="entry_date"
                                   value='{{ params.em_profile.entry_date or '' }}'/>
                        </span>
                    </div>
                </div>
                <div class='row info_main_tab'>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em'><span class='info_red'>* </span>性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id='sex' name="sex" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('sex') %}
                                    {% if params.em_profile.sex == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['sex'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['sex'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>民&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp族 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id="nation" name="nation" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('nation') %}
                                    {% if params.em_profile.nation == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['nation'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['nation'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>出生日期 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='birth_date' type="date" required="required"
                                   class="info_input" name="birth_date"
                                   value='{{ params.em_profile.birth_date or '' }}'/>
                        </span>
                    </div>
                </div>
                <div class="row info_main_tab">
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em'><span class='info_red'>* </span>政治面貌 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id='political_status' name="political_status" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('political_status') %}
                                    {% if params.em_profile.political_status == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['political_status'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['political_status'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>国&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp籍 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id="nationality" name="nationality" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('nationality') %}
                                    {% if params.em_profile.nationality == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['nationality'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['nationality'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>户口类型 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id="residence_type" name="residence_type" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('residence_type') %}
                                    {% if params.em_profile.residence_type == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['residence_type'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['residence_type'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row info_main_tab">
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em'><span class='info_red'>* </span>婚姻状况 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id="marriage" name="marriage" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('marriage') %}
                                    {% if params.em_profile.marriage == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['marriage'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['marriage'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>教育程度 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id="education" name="education" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('education') %}
                                    {% if params.em_profile.education == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['education'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['education'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row info_main_tab">
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:3em'><span class='info_red'>* </span>证件类型 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <select id="card_type" name="card_type" required="required" class="info_select">
                                <option value="">请选择</option>
                                {% for item in params.enums.get('card_type') %}
                                    {% if params.em_profile.card_type == item %}
                                        <option value='{{item}}' selected="selected">{{params.enums['card_type'].get(item)}}</option>
                                    {% else %}
                                        <option value='{{item}}'>{{params.enums['card_type'].get(item)}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>证件号码 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input id='card_id' type="text" name='card_id' maxlength='20' class="info_input"
                                   value='{{ params.em_profile.card_id or '' }}'
                                   required='required'
                            />
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label style='margin-left:2.4em'><span class='info_red'>* </span>过期日期 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input type="date" class="info_input" id="card_deadline"
                                   required="required" name="card_deadline"
                                   value='{{ params.em_profile.card_deadline or '' }}'/>
                        </span>
                    </div>
                </div>
                <div class="row info_main_tab">
                    <div class="col-xs-12 col-md-10">
                        <label style='margin-left:3em'><span class='info_red'>* </span>证件地址 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input type="text" id='card_place' required="required"
                                   style="width:450px;" class="info_input" name='card_place'
                                   value='{{ params.em_profile.card_place or '' }}'
                            />
                        </span>

                    </div>
                </div>
                <div class="row info_main_tab">
                    <div class="col-xs-12 col-md-10">
                        <label style='margin-left:3em'><span class='info_red'>* </span>现住地址 : </label>
                        <span style='position:relative;margin-left:0.5em;'>
                            <input type="text" id='current_address' required="required"
                                   style="width:450px;" class="info_input" name='current_address'
                                   value='{{ params.em_profile.current_address or '' }}'
                                   placeholder="请省、市、区、街(小区)、门牌号顺序填写"
                            />
                        </span>
                    </div>
                </div>


            </div>
            <!-- 银行卡信息 -->
            <div class="tab-pane fade" id="bankcard">
                <div class='row info_main_tab'>
                    <label style='margin-left:20em'><span class='info_red'>* </span>开户行 : </label>
                    <span style='position:relative;margin-left:1em;'>
                        <select id="bank_type" name="bank_type" required="required" class="info_bank_select">
                            <option value="">请选择</option>
                            {% for item in params.enums.get('bank_type') %}
                                {% if params.em_profile.bank_type == item %}
                                    <option value='{{item}}' selected="selected">{{params.enums['bank_type'].get(item)}}</option>
                                {% else %}
                                    <option value='{{item}}'>{{params.enums['bank_type'].get(item)}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </span>
                </div>
                <div class='row info_main_tab'>
                    <label style='margin-left:18em'><span class='info_red'>* </span>开户行国家 : </label>
                    <span style='position:relative;margin-left:1em;'>
                        <select id="bank_country" name="bank_country" required="required" class="info_bank_select">
                            <option value="">请选择</option>
                            {% for item in params.enums.get('bank_country') %}
                                {% if params.em_profile.bank_country == item %}
                                    <option value='{{item}}' selected="selected">{{params.enums['bank_country'].get(item)}}</option>
                                {% else %}
                                    <option value='{{item}}'>{{params.enums['bank_country'].get(item)}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <span class='info_red' style="margin-left: 1em">(请确认开户行与工资卡号为同一银行)</span>
                    </span>
                </div>
                <div class='row info_main_tab'>
                    <label style='margin-left:18.8em'><span class='info_red'>* </span>开户城市 : </label>
                    <span style='position:relative;margin-left:1em;'>
                        <input type="text" list="city_list" id="bank_city" value="{{params.em_profile.bank_city or ''}}"
                               class="info_bank_select" required="required" name="bank_city"/>
                        <datalist id="city_list">
                            {% for item in params.enums.get('bank_city') %}
                                <option value='{{params.enums['bank_city'].get(item)}}'></option>
                            {% endfor %}
                        </datalist>
                    </span>
                </div>
                <div class='row info_main_tab'>
                    <label style='margin-left:18.8em'><span class='info_red'>* </span>工资卡号 : </label>
                    <span style='position:relative;margin-left:1em;'>
                        <input type="text" value="{{params.em_profile.bank_id or ''}}"
                               maxlength='30' name="bank_id" required="required"
                               class="info_bank_select" id="bank_id"
                               oninput="value=value.replace(/[^\d]/g,'')"
                        />
                    </span>
                </div>
                <div class='row info_main_tab'>
                    <label style='margin-left:18.8em'><span class='info_red'>* </span>开户姓名 : </label>
                    <span style='position:relative;margin-left:1em;'>
                        <input type="text" value="{{params.em_profile.bank_name or ''}}"
                               maxlength='30' name="bank_name" required="required"
                               class="info_bank_select" id="bank_name"
                        />
                    </span>
                </div>
            </div>
        </div>
        <div style="margin-top: 6%;">
            <p style='text-align: center' class='red'>*以上所填各项资料均属实，授权公司对于所填内容进行核实，今后一旦发现有虚假信息，同意立即解除劳动合同且无任何经济补偿</p>
            <p style='text-align: center' class='red'>*本人承诺在职期间，以上资料如有变更，将在3个工作日内书面通知公司人力资源部，否则因此引起的任何责任，将由本人承担</p>
            <input type="hidden" name='status' id='status' value='{{params.em_profile.status or 1}}'/>
            <input type="hidden" name='is_add' id='is_add' value='{{params.is_add or 1}}'/>
            <div  style="text-align:center; width:100%;height:30%;margin:0px;">
                <button type="submit" id="info_submit" name="info_submit"
                        class="info_submit" onclick="form_subimt()">提交</button>
            </div>
        </div>

    </form>
<div class="info_main_tab">&nbsp</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    function initPage() {
    };

    function form_subimt() {
        // check
        if($('input[name=china_name]').val() == '' || $('input[name=phone]').val() == '' || $('select[name=sex]').val() == '' ||
            $('select[name=nation]').val() == '' || $('input[name=birth_date]').val() == '' || $('select[name=political_status]').val() == '' ||
            $('select[name=nationality]').val() == '' || $('select[name=residence_type]').val() == '' || $('select[name=marriage]').val() == '' ||
            $('select[name=education]').val() == '' || $('select[name=card_type]').val() == '' || $('input[name=card_id]').val() == '' ||
            $('input[name=card_deadline]').val() == '' || $('input[name=card_place]').val() == '' || $('input[name=current_address]').val() == ''
        ){
            $('#info_list li:eq(0) a').tab('show');
            return false;
        }else if($('select[name=bank_type]').val() == '' || $('select[name=bank_country]').val() == '' || $('input[name=bank_city]').val() == '' ||
            $('input[name=bank_id]').val() == '' || $('input[name=bank_name]').val() == ''
        ){
            $('#info_list li:eq(1) a').tab('show');
            return false;
        }

        //submit
        var postJsonData= {
            "china_name": $('input[name=china_name]').val(),
            "english_name": $('input[name=english_name]').val(),
            "phone": $('input[name=phone]').val(),
            "email": $('input[name=email]').val(),
            "entry_date": $('input[name=entry_date]').val(),
            "sex": $('select[name=sex]').val(),
            "nation": $('select[name=nation]').val(),
            "birth_date": $('input[name=birth_date]').val(),
            "political_status": $('select[name=political_status]').val(),
            "nationality": $('select[name=nationality]').val(),
            "residence_type": $('select[name=residence_type]').val(),
            "marriage": $('select[name=marriage]').val(),
            "education": $('select[name=education]').val(),
            "card_type": $('select[name=card_type]').val(),
            "card_id": $('input[name=card_id]').val(),
            "card_deadline": $('input[name=card_deadline]').val(),
            "card_place": $('input[name=card_place]').val(),
            "current_address": $('input[name=current_address]').val(),
            "bank_type": $('select[name=bank_type]').val(),
            "bank_country": $('select[name=bank_country]').val(),
            "bank_city": $('input[name=bank_city]').val(),
            "bank_id": $('input[name=bank_id]').val(),
            "bank_name": $('input[name=bank_name]').val(),
            "status": $('input[name=status]').val(),
            "is_add": $('input[name=is_add]').val()
        };

        $.ajax({
            url: "/employee/add_or_edit_api/",
            type: 'POST',
            contentType: "application/json",
            dataType:"json",
            data: JSON.stringify(postJsonData),
            success: function (json_result) {
                var message = json_result.msg;
                if (json_result.status_id == 100){
                    toastr.success(message, "温馨提示：");
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    }, 2000);
                }else if(json_result.status_id === 110){
                    toastr.success(message, "温馨提示：");
                }else{
                    toastr.error(message, "温馨提示：");
                }

            },
            error: function (result) {
                console.log('add data is error: '+ result);
                toastr.error("服务端发生故障，新增失败！", "温馨提示：");
            }
        });

    }

    // 银行卡号
    !function () {
        $('#bank_id').on('keyup mouseout input',function(){
            var $this = $(this),
                v = $this.val();
            /\S{5}/.test(v) && $this.val(v.replace(/\s/g,'').replace(/(.{4})/g, "$1 "));
        });
    }();
</script>
{% endblock %}