<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block head %}{% endblock %}
    <title>信息管理平台 | {% block title %}标题{% endblock %}</title>
    <!-- jquery -->
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/pace/pace.min.css') }}">
    {% block css %}{% endblock %}
    <!-- adminite -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/adminlte/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/adminlte/css/skins/skin-blue.min.css') }}">
    <!-- 自定义样式css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <!-- toastr -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--头部-->
    <header class="main-header">
        <a href="{{ url_for('manage.index') }}" class="logo">
            <span class="logo-mini"><b>M</b></span>
            <span class="logo-lg"><b>员工信息管理平台</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.image }}" class="user-image"
                                 alt="User Image" id="base_user_image_small">
                            <span class="hidden-xs">{{current_user.rtx_id}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{ current_user.image }}" id="base_user_image_big"
                                     class="img-circle" alt="User Image">
                                <p>
                                    <span>{{ current_user.fullname }}</span>
                                    <small>{{ current_user.email }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ url_for('manage.index') }}" class="btn btn-default btn-flat">统计信息</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ url_for('manage.login_out') }}" class="btn btn-default btn-flat">退出登录</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--侧边栏-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">功能导航</li>
                <li class="{% if menu.f == 'index' %}active{% else %}{% endif %}">
                    <a href="{{ url_for('manage.index') }}">
                        <i class="fa fa-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="{% if menu.f == 'info' %}treeview active{% else %}treeview{% endif %}">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>信息管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right  pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <li class="{% if menu.sub == 'edit' %}active {% else %} {% endif %}">
                            <a href="{{ url_for('employee.html_edit', card_id='new') }}">
                                <i class="fa {% if menu.sub == 'edit' %}fa-circle{% else %}fa-circle-o{% endif %}"></i> 编辑
                            </a>
                        </li>
                        <li class="{% if menu.sub == 'list' %}active {% else %} {% endif %}">
                            <a href="{{ url_for('employee.html_list') }}">
                                <i class="fa {% if menu.sub == 'list' %}fa-circle{% else %}fa-circle-o{% endif %}"></i> 浏览
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{% if request.blueprint == 'setter' %}treeview active{% else %}treeview{% endif %}">
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>系统设置</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <li class="{% if menu.sub == 'user' %}active {% else %} {% endif %}">
                            <a href="{{ url_for('setter.user_html') }}">
                                <i class="fa {% if menu.sub == 'user' %}fa-circle{% else %}fa-circle-o{% endif %}"></i> 个人中心
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <!--导航栏-->
        {% block navbar %}{% endblock %}
        <!--正文-->
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </div>
    <!--页脚-->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>版本号</b> {{ sysversion }}
        </div>
        Copyright &copy; 2019 <a href="http://212.64.61.62/" target="_blank">PyGo²</a>
    </footer>
</div>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/adminlte/js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
