<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>系统登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="body">123123</div>
    <div class="grad">123123123</div>
    <div>123123</div>
    <div class="header">
        <div><span>员工信息管理</span>系统</div>
    </div>
    <br>
    <div class="login">
        <form id="login" method="post" action="/login/">
            <input id="login_user" name="login_user" type="text" placeholder="支持用户ID、电话、邮箱登录"><br>
            <input id="login_password" name="login_password" type="password" placeholder="输入用户密码"><br>
            {% if login_message %}
            <div class="alert alert-warning login_warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ login_message }}
            </div>
            {%  endif %}
            <button type="submit" value="submit">登录</button>
        </form>
    </div>

</div>
<script src="{{ url_for('static', filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>